.Landing {
    // 70px is the height of the topbar
    height: calc(100vh - 70px) !important;
    background-color: rgb(156, 176, 194);
    position: absolute;
}

.landing-text-container {
    height: 100%;
    text-align: center;
    color: white;
    position: relative;
    top: calc(50% - 54px - 2rem - 25px);
}

.landing-text-content {
    font-size: 54px;
    margin: 0 auto 4rem auto;
    width: 700px;
}

.landing-text-button {
    border: none;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(143, 143, 255);
    padding: 5px 15px 5px 15px;
}

.landing-text-button:hover {
    color: rgb(143, 143, 255);
    background: white;
}

.landing-text-button:not(:last-child) {
    margin-right: 10px;
}