$blog-field-spacing: 20px;

.blog-screen-wrapper {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  display: flex;

  .blog-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    padding: 50px 0;
    background-color: #90caf9;
    border-radius: 3px;
    margin-top: 50px;

    .world-return-button {
      position: absolute;
      left: calc((100% - 600px) / 2 + 10px);
      top: calc(70px + 50px + 10px);
    }

    .blog-details {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    h1, h2 {
      margin-top: 0;
      margin-bottom: $blog-field-spacing;
    }

    .blog-contents {
      width: 100%;
      p {
        margin: 0 $blog-field-spacing;
      }
    }

    .blog-comments {
      margin-top: $blog-field-spacing;
      .blog-comments-write {
        display: flex;
        width: 400px;
        flex-direction: column;
        align-items: flex-end;
        border: 1px solid black;
        border-radius: 2px;
        padding: 10px;
        margin-top: $blog-field-spacing;

        .blog-comment-submit-button {
          margin-top: $blog-field-spacing
        }
      }

      ul {
        display: flex;
        padding: 0;

        li {
          list-style-type: none;
        }

        li:not(:last-child) {
          margin-right: 5px;
        }
      }
    }

    .display-linebreak {
      white-space: pre-line;
    }
  }
}