$blog-field-spacing: 20px;

.blog-screen-wrapper {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;

  .blog-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 50px 0;
    background-color: #90caf9;
    border-radius: 3px;
    margin-top: 50px;

    h1 {
        margin-top: 0;
        margin-bottom: $blog-field-spacing;
    }

    .blog-form-field {
        max-width: 400px;
        width: 100%;
    }

    .blog-submit-button {
        margin-top: $blog-field-spacing;
    }
  }
}