$blog-section-gap: 2rem;

@keyframes bobbing {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.blog-screen-wrapper {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 40px; // give space for back-button on smaller screens

    .back-button {
        height: 40px;
        position: fixed;
        left: 10px;
        bottom: 10px;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $blog-section-gap;
        margin-top: 30px;
        max-width: 66vw;
        min-width: 400px;
        width: 100%;
        padding: 20px;

        .blog-details {
            width: 100%;

            .blog-title {
                font-size: 45px;
                border-radius: 5px;
                padding: 5px;
                border: none;

                &:focus {
                    outline: none;
                    border: 2px solid;
                }
            }

            .blog-author {
                font-size: 20px;
                margin: 5px 0;
                padding-left: 10px;
                display: flex;
                align-items: center;
            }

            .blog-date {
                font-size: 16px;
                padding-left: 10px;
            }
        }

        .blog-section {
            width: 100%;
        }

        .blog-paragraph {
            white-space: pre-line;
            font-size: 24px;
            line-height: 40px;
        }

        .blog-image {
            max-height: 400px;
            width: auto;
            max-width: 100%;
        }

        .blog-image-input {
            border: 1px solid rgb(107, 107, 107);
            border-radius: 10px;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            position: relative;
            
            &:hover {
                opacity: 0.7;
                border: 3px dashed rgb(70, 70, 70);
            }
            
            input[type="file"] {
                position:absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: 10;
                opacity: 0;
            }
            
            &.blog-image-preview {
                border: none;
            }
        }

        .blog-section-selector {
            height: 100px;
            border-radius: 10px;
            border: 3px dashed rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .selector-button:hover {
                border-radius: 30px;
            }
            .selector-button:hover .selector-icon {
                animation: bobbing 2.1s infinite;
            }

            @media only screen and (max-width: 550px) {
                .selector-button {
                    font-size: 16px;
                }
            }
        }

        .blog-comments {
            width: 100%;

            .comment-header {
                font-size: 32px;
            }

            .write-comment {
                display: flex;
                gap: 10px;
                align-items: center;
                width: 100%;
                margin-left: 10px;

                .current-user {
                    text-align: center;
                }

                Button {
                    height: 40px;
                }
            }

            .comment-item {
                margin: 40px 0;

                .comment-info {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    border-bottom: 1px solid rgb(197, 197, 197);

                    .comment-author {
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        margin-right: 0.5rem;
                    }    

                    .comment-date {
                        font-size: 12px;
                    }
                }

                .comment-content {
                    font-size: 22px;
                    white-space: pre-line;
                    padding-left: 10px;
                }
            }
        }
    }
}